<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>DNS</key>
			<dict>
				<key>ServerAddresses</key>
				<array>
					<string>10.16.0.1</string>
				</array>
				<key>SupplementalMatchDomains</key>
				<array>
					<string/>
				</array>
			</dict>
			<key>IKEv2</key>
			<dict>
				<key>AuthName</key>
				<string>087f8e1fc5ff-ikev2</string>
				<key>AuthPassword</key>
				<string>44c4c2c5</string>
				<key>AuthenticationMethod</key>
				<string>None</string>
				<key>ChildSecurityAssociationParameters</key>
				<dict>
					<key>DiffieHellmanGroup</key>
					<integer>14</integer>
					<key>EncryptionAlgorithm</key>
					<string>AES-256</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-256</string>
					<key>LifeTimeInMinutes</key>
					<integer>1440</integer>
				</dict>
				<key>DeadPeerDetectionRate</key>
				<string>None</string>
				<key>DisableMOBIKE</key>
				<true/>
				<key>DisableRedirect</key>
				<true/>
				<key>DisconnectOnIdle</key>
				<false/>
				<key>EnableCertificateRevocationCheck</key>
				<true/>
				<key>EnablePFS</key>
				<true/>
				<key>ExtendedAuthEnabled</key>
				<true/>
				<key>IKESecurityAssociationParameters</key>
				<dict>
					<key>DiffieHellmanGroup</key>
					<integer>14</integer>
					<key>EncryptionAlgorithm</key>
					<string>AES-256</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-256</string>
					<key>LifeTimeInMinutes</key>
					<integer>1440</integer>
				</dict>
				<key>LocalIdentifier</key>
				<string>087f8e1fc5ff-ikev2</string>
				<key>OnDemandEnabled</key>
				<integer>1</integer>
				<key>OnDemandMatchDomainsAlways</key>
				<array>
					<string>*</string>
					<string>a</string>
					<string>b</string>
					<string>c</string>
					<string>d</string>
					<string>e</string>
					<string>f</string>
					<string>g</string>
					<string>h</string>
					<string>i</string>
					<string>j</string>
					<string>k</string>
					<string>l</string>
					<string>m</string>
					<string>n</string>
					<string>o</string>
					<string>p</string>
					<string>q</string>
					<string>r</string>
					<string>s</string>
					<string>t</string>
					<string>u</string>
					<string>v</string>
					<string>w</string>
					<string>x</string>
					<string>y</string>
					<string>z</string>
				</array>
				<key>OnDemandRules</key>
				<array>
					<dict>
						<key>Action</key>
						<string>Connect</string>
					</dict>
				</array>
				<key>RemoteAddress</key>
				<string>vpn.adbl0ck.com</string>
				<key>RemoteIdentifier</key>
				<string>vpn.adbl0ck.com</string>
				<key>UseConfigurationAttributeInternalIPSubnet</key>
				<false/>
			</dict>
			<key>PayloadDescription</key>
			<string>Configures VPN settings</string>
			<key>PayloadDisplayName</key>
			<string>VPN</string>
			<key>PayloadIdentifier</key>
			<string>adblock.com.apple.vpn.managed.310F0FEF-C8F9-4C36-B3AD-1429F7E68E2D</string>
			<key>PayloadOrganization</key>
			<string>Sensor Tower</string>
			<key>PayloadType</key>
			<string>com.apple.vpn.managed</string>
			<key>PayloadUUID</key>
			<string>310F0FEF-C8F9-4C36-B3AD-1429F7E68E2D</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>Proxies</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Enable Adblock Luna VPN</string>
			<key>VPNType</key>
			<string>IKEv2</string>
		</dict>
		<dict>
			<key>PayloadCertificateFileName</key>
			<string>ca-d0dcacbf.pem</string>
			<key>PayloadContent</key>
			<data>
			LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURnakNDQW1xZ0F3SUJBZ0lHQVZX
			VHlHOUNNQTBHQ1NxR1NJYjNEUUVCQ3dVQU1HQXhDekFKQmdOVkJBWVQKQWxWVE1Sb3dH
			QVlEVlFRS0RCRkJaR0pzYjJOcklFVjRkR1Z1YzJsdmJqRTFNRE1HQTFVRUF3d3NRV1Jp
			Ykc5agpheUJGZUhSbGJuTnBiMjRnVW05dmRDQkRaWEowYVdacFkyRjBaU0JCZFhSb2Iz
			SnBkSGt3SGhjTk1UUXdPVEV4Ck1ERXhNVEl5V2hjTk16RXdOVEkxTVRrd05EQTJXakJn
			TVFzd0NRWURWUVFHRXdKVlV6RWFNQmdHQTFVRUNnd1IKUVdSaWJHOWpheUJGZUhSbGJu
			TnBiMjR4TlRBekJnTlZCQU1NTEVGa1lteHZZMnNnUlhoMFpXNXphVzl1SUZKdgpiM1Fn
			UTJWeWRHbG1hV05oZEdVZ1FYVjBhRzl5YVhSNU1JSUJJakFOQmdrcWhraUc5dzBCQVFF
			RkFBT0NBUThBCk1JSUJDZ0tDQVFFQXBxMklhUC9VbTRXdnRQSUdvb2JkcmJrbFg3MDlZ
			WFc5NWZ2SnMySXpsTFNRd1RsMEtUL0oKb0JaSTdzRmhET0VJMVFHMEM4ZXkzWmI3MHNv
			Y3RubXNwOE0yeTFoQWYvVkZ3VEpOMjFYaHIxOGF6eUtQSFZjOQpzbDFoY2dycGNJdCtq
			VmF2TjNWYm9wR1hjWnVwWjNkSVhMelZMNmN6NlF2SnJzeTgwck05M1dORzl2ZitFSG9B
			CmIwOXVMeURwQnBKK2FnWDdLak5uZnF4NExSZUNuMEc5ZStsZDhpcTRPMnZEU0l5eXBG
			ajFvckp0QmZGQVhzNDEKeUk0WnFJWWpOMVc1Mzg1UDhSd0pNOCtOUTR4N3lBZFlFemFy
			dVBQa0FvZENTR014dGFicDN5aUptUFVvdHpvWQp1QktWWnJYcWMzYzlkRkhRVml6eGFK
			UTNTbXlLWUVTWkRRSURBUUFCbzBJd1FEQVBCZ05WSFJNQkFmOEVCVEFECkFRSC9NQTRH
			QTFVZER3RUIvd1FFQXdJQkJqQWRCZ05WSFE0RUZnUVUwMnpSbnd6ZjRGcmZEczFJWkZa
			bGJqVGEKVEJzd0RRWUpLb1pJaHZjTkFRRUxCUUFEZ2dFQkFIVGJDY2pLamhRN0djWHdJ
			ODREaU1rZjdDbG1TTEdtZkYxRQorN1p1U1B1TnFRQ2VXVXJmaDIrQXBjSVd3VWFueTRF
			VE1uMVFzNGxsa1g3VGhMRWRhWEFaV09zMjFRcTdIaERMClorbzQ0YXlKT092Q3hldkM5
			LzB2SG9kNWdyeTZER0tKdFllOWsycmI3Z3lQQjdkSDJUeCtGVFRiZlBvSTJNSUMKNUI2
			RnRaWFpIbHhmWk1GUjRsUXV2NDZzVkd3REtaVldGbDJlT2lSZDhsNHRYME4yYmc4cDNB
			RmJkUmUvdDY3MwpmY1pwZTJ5VE1EcnJsODlEenZLcEg5ZmlNQmN4UTJpM2c4aWVUTmhW
			bVJyS3RtZjNCNEFFZ1BiMnBMUTYxZjh5CndCSlg4QkEyeWphR0NnZDdmOEM3N012RFN4
			VDJKV3VPaGhHTWFRWDlLOXUyeHYvaGE2RT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0t
			LQo=
			</data>
			<key>PayloadDescription</key>
			<string>Provides additional adblocking features</string>
			<key>PayloadDisplayName</key>
			<string>CA Certificate</string>
			<key>PayloadIdentifier</key>
			<string>adblock.com.apple.security.pem.E6CDEAD2-066B-49F2-A615-A3CDA895D48C</string>
			<key>PayloadOrganization</key>
			<string>Adblock Extension</string>
			<key>PayloadType</key>
			<string>com.apple.security.pem</string>
			<key>PayloadUUID</key>
			<string>E6CDEAD2-066B-49F2-A615-A3CDA895D48C</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>PayloadDescription</key>
	<string>Install this profile to use Adblock Luna VPN</string>
	<key>PayloadDisplayName</key>
	<string>Adblock Luna VPN</string>
	<key>PayloadIdentifier</key>
	<string>adblock</string>
	<key>PayloadOrganization</key>
	<string>Sensor Tower</string>
	<key>PayloadRemovalDisallowed</key>
	<false/>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>D84D7876-EDDE-4EDA-93BB-7F21D09F943F</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
